.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{
  --primary:#03A9F4;
  --secondary:#29B6F6;
  --terciary:#B2EBF2;
}

nav{
  padding: 0 10px 0 10px;
  background-color: var(--primary);
}

nav .right{
  position: absolute;
  top: 0px;
  right: 0px;
}



.nav-wrapper form{
  margin: auto;
  width: 50%;
}

.nav-wrapper .input-field{
  padding-top: 7px;
}

.nav-wrapper form #search{
  height: 50px;
}


nav .right img{
  margin: 17px;
  height: 30px;
  width: 30px;
  border: 2px solid white;
  cursor: pointer;
}

nav .right .imgProfil a{
  height: 64px;
}

.hidden{
  display: none;
}

.card {
  width : 250px;
  height : 350px;
  margin: 30px 30px;
  display: inline-block;
}

.card-image {
  border-radius: 15px;    
}

.card .card-title {
  font-size : 15px;
}
.card-title {
  padding : 0;
}

.card-content {
  height : 30px;
}

#search_text {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}